.grid, .position-info, .tiles, .controls{
    position: relative;
}

.tile{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px #333 solid;
    position: absolute;
}

.isMine{
    background-color: red;
}

.currentPosition{
    background-color: #333;
}